@import 'distances.scss';
@import 'colors.scss';
@import 'fontSizes.scss';

:host {
  &.bullet {
    li {
      display: flex;
      gap: distance('xs');
      align-items: center;

      &::before {
        content: '';
        width: font-size('mini');
        height: font-size('mini');
        background-color: color('purple', 'primary');
        border-radius: 50%;
      }

      p {
        color: color('black', 'primary');
      }

      span {
        color: color('black', 'secondary');
      }
    }
  }

  &.inline {
    ul,
    li {
      display: flex;
      gap: distance('xs');
      align-items: center;

      p {
        &::after {
          content: ':';
        }
        color: color('purple', 'primary');
        font-weight: bold;
      }

      span {
        font-size: font-size('body');
      }
    }
  }
}
