<header>
  <app-title> Hospital Simulator </app-title>
</header>

<main>
  <section>
    <app-card>
      <h2>Control Panel</h2>

      <div>
        <h3>Patients</h3>
        <p>Patient #1</p>
        <p>Patient #2</p>
        <button>Fetch patients</button>
      </div>
      <div>
        <h3>Drugs</h3>
        <p>Drug #1</p>
        <p>Drug #2</p>
        <p>Drug #3</p>
        <button>Fetch drugs</button>
      </div>

      <button>Simulate</button>
    </app-card>
  </section>

  <section>
    <app-card>
      <h2>History</h2>

      <div>
        <h3>Result #1</h3>
        <p>Input</p>
        <p>Output</p>
      </div>
      ...
      <div>
        <h3>Result #2</h3>
        <p>Input</p>
        <p>Output</p>
      </div>
    </app-card>
  </section>
</main>

<footer>Developed by Julio César Castro López</footer>
