@import 'colors.scss';
@import 'distances.scss';
@import 'fontSizes.scss';

:host > app-stack {
  background-color: color('white', 'secondary');
  min-height: 100vh;
  padding: distance('m');

  h1 {
    color: color('purple', 'primary');
  }

  footer {
    margin-top: auto;
  }
}
