@import 'colors.scss';
@import 'distances.scss';
@import 'fontSizes.scss';

:host {
  background-color: color('white', 'secondary');
  min-height: 100vh;
  padding: distance('m');

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: distance('l');

  header {
    color: color('purple', 'primary');
  }

  main {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: distance('xl');
  }

  footer {
    margin-top: auto;
  }
}
