@import 'colors.scss';
@import 'distances.scss';

app-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: distance('s');

  h4 {
    color: color('black', 'secondary');
  }
}
