@import 'colors.scss';
@import 'distances.scss';

div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'left right'
    'bottom bottom';
  column-gap: distance('m');
  row-gap: distance('l');

  h3 {
    color: color('black', 'secondary');
  }

  .left {
    grid-area: left;
  }

  .right {
    grid-area: right;
    justify-self: end;
  }

  .bottom {
    grid-area: bottom;
    display: flex;
    flex-wrap: wrap;
    gap: distance('m');
    justify-content: space-between;
  }
}
