<app-card>
  <section>
    <h3>Control Panel</h3>
  </section>

  <section>
    <app-card [hasShadow]="true">
      <h4>Patients</h4>
      <app-list [items]="patients | listitem"></app-list>
      <app-button>Fetch patients</app-button>
    </app-card>
  </section>

  <section>
    <app-card [hasShadow]="true">
      <h4>Drugs</h4>
      <app-list [items]="drugs | listitem"></app-list>
      <app-button>Fetch drugs</app-button>
    </app-card>
  </section>

  <section>
    <app-button type="SECONDARY">Simulate</app-button>
  </section>
</app-card>
