@import 'colors.scss';
@import 'distances.scss';

button {
  border: none;
  outline: none;

  &.primary {
    color: color('white', 'primary');
    background-color: color('purple', 'primary');
    padding: distance('xs');
    border-radius: distance('xl');
  }

  &.secondary {
    color: color('purple', 'secondary');
    background-color: color('white', 'primary');
    font-weight: bold;
  }

  &:hover {
    cursor: pointer;
  }
}
