@import 'colors.scss';
@import 'distances.scss';
@import 'shadows.scss';

:host {
  display: block;
  color: color('black', 'primary');
  background-color: color('white', 'primary');
  padding: distance('m');
  border-radius: distance('m');

  &.shadow {
    box-shadow: shadow('light');
  }
}
