<app-card [hasShadow]="true">
  <app-stack>
    <span>#129</span>
    <span>{{ myDate | date: 'short' }}</span>
  </app-stack>

  <app-stack gap="XL" [allowWrap]="true">
    <section>
      <h5>{{ 'VISUALIZATION.SIMULATION_REGISTER.PATIENTS.TITLE' | translate }}</h5>
      <app-list type="INLINE" [items]="foo"></app-list>
    </section>

    <section>
      <h5>{{ 'VISUALIZATION.SIMULATION_REGISTER.DRUGS.TITLE' | translate }}</h5>
      <app-list type="INLINE" [items]="foo"></app-list>
    </section>

    <section>
      <h5>{{ 'VISUALIZATION.SIMULATION_REGISTER.RESULTS.TITLE' | translate }}</h5>
      <app-list type="INLINE" [items]="foo"></app-list>
    </section>
  </app-stack>
</app-card>
