$colors: (
  background: #f4f7fe,
  text: (
    primary: #1b2559,
    secondary: #a3aed0,
  )
);

@function color($name, $variant: null) {
  @if ($variant != null) {
    @return map-get(map-get($colors, $name), $variant);
  } @else {
    @return map-get($colors, $name);
  }
}
